{{>header}}
<div class="container py-5">
  <header>
    <table>
      <thead>
        <tr>
          <div class="d-flex justify-content-between align-items-center">
            <img src="/img/logo.png" class="img-fluid logo" />
            <h5 class="text-uppercase text-bg-dark">Quotation</h5>
          </div>
        </tr>
        <tr>
          <div class="detail row py-4">
            <div class="col">
              <h5 class="p-0 text-start">{{data.details.form.type}}</h5>
              <p>No: {{data.details.form.number}}</p>
              <p>Date: 06/08/2022</p>
            </div>
            <div class="col">
              <h5 class="p-0 text-start">Customer</h5>
              <p>Name: {{data.details.customer.name}}</p>
              <p>Region: {{data.details.customer.region}}</p>
            </div>
            <div class="col">
              <h5 class="p-0 text-start">Company</h5>
              <p>Name: {{data.details.company.name}}</p>
              <p>Industry: {{data.details.company.industry}}</p>
            </div>
          </div>
        </tr>
      </thead>
    </table>
  </header>
  <main>
    <table class="table table-sm invoice-table">
      <thead>
        <tr>
          <th scope="col">Items</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tbody>
          {{#each data.Items}}
          <tr>
            <td>
              <h5 class="fs-11 fw-medium mb-p-2">{{this.title}}</h5>
              {{!-- @One Column --}} 
              {{#equalTo this.subtitle.length 1}}
              {{#each this.subtitle}}
              <p class="fs-9 fw-light mb-0 text-start">
                {{this.name}}: {{this.value}}
              </p>
              {{/each}}
              {{/equalTo}}
              {{!-- @Two columns --}}
              {{#equalTo
              this.subtitle.length 2}}
              <div class="row p-0">
                <div class="col-auto">
                  {{#times 0 5}} {{#with (lookup ../this.subtitle @index)}}
                  <p class="fs-9 fw-light mb-0 text-start">
                    {{this.name}}: {{this.value}}
                  </p>
                  {{/with}} {{/times}}
                </div>
                <div class="col-auto">
                  {{#times 5 this.subtitle.length}}
                  {{#with (lookup ../this.subtitle @index)}}
                  <p class="fs-9 fw-light mb-0 text-start">
                    {{name}}: {{value}}
                  </p>
                  {{/with}} 
                  {{/times}}
                </div>
                <div class="col-auto"></div>
              </div>
              {{/equalTo}} {{!-- @Three columns --}} {{#equalTo
              this.subtitle.length 3}}
              <div class="row p-0">
                <div class="col-auto">
                  {{#times 0 5}} {{#with (lookup ../this.subtitle @index)}}
                  <p class="fs-9 fw-light mb-0 text-start">
                    {{this.name}}: {{this.value}}
                  </p>
                  {{/with}} {{/times}}
                </div>
                <div class="col-auto">
                  {{#times 5 10}} {{#with (lookup ../this.subtitle @index)}}
                  <p class="fs-9 fw-light mb-0 text-start">
                    {{name}}: {{value}}
                  </p>
                  {{/with}} {{/times}}
                </div>
                <div class="col-auto">
                  {{#times 10 this.subtitle.length}} {{#with (lookup
                  ../this.subtitle @index)}}
                  <p class="fs-9 fw-light mb-0 text-start">
                    {{name}}: {{value}}
                  </p>
                  {{/with}} {{/times}}
                </div>
              </div>
              {{/equalTo}}
            </td>
            <td>{{this.qty}}</td>
            <td>{{this.total}}</td>
          </tr>
          {{/each}}
          <!-- Footer -->
          <!-- <tr>
            </tr> -->
        <!-- Footer -->
        <tr class="foot {{#dividedBy data.Items.length 6}}margin-top{{/dividedBy}}">
          <td rowspan="4" class="text-start align-top" style="border-left: 0; border-bottom-color: transparent">
            <h5>Payment Method</h5>
            <div class="d-flex mb-2 payment-box">
              <div class="text-start me-2 border-table px-1" style="width: 40.35mm;">
                <div class="d-flex align-items-center py-1">
                  <div class="pe-1 m-0">
                    <img src="/img/wallets.png" class="icon" />
                  </div>
                  <div class="d-inline text-start m-0">
                    <h5 class="text-start m-0 fs-9">E-Wallet</h5>
                    <p class="fs-7 lh-8 text-start m-0">
                      Vodafone Cash, Etisalat Cash, Orange Money
                    </p>
                  </div>
                </div>
              </div>
              <div class="text-start me-2 border-table px-1" style="width: 40.35mm;">
                <div class="d-flex align-items-center py-1">
                  <div class="pe-1 m-0">
                    <img src="/img/kiosk.png" class="icon" />
                  </div>
                  <div class="d-inline text-start m-0">
                    <h5 class="text-start m-0 fs-9">Kiosk Payment</h5>
                    <p class="fs-7 lh-8 text-start m-0">
                      Aman, Masary, Momkn
                    </p>
                  </div>
                </div>
              </div>
              <div class="text-start credit-text d-flex flex-column justify-content-between" style="width:24.8mm">
                <p class="text-start m-0 fs-9">Also,</p>
                <p class="text-start m-0 fs-9">
                  Cash & Credit <br />
                  Card at <b>Office</b>
                </p>
              </div>
            </div>
            <span>* This price is valid for 3 days only.</span>
          </td>
          <td>Sub Total</td>
          <td>148350</td>
        </tr>
        <tr class="foot">
          <td class="text-center">Discount</td>
          <td>-7415</td>
        </tr>
        <tr class="foot">
          <td class="text-center">Tax (14%)</td>
          <td>19731</td>
        </tr>
        <tr class="foot">
          <td class="bg-dark text-white text-center align-middle">Total</td>
          <td>1600666</td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>
    <div class="detail d-flex py-4 justify-content-between">
      <div>
        <p>16 Mahmoud Khairy,<br />Nasr City, Cairo, Egypt.</p>
      </div>
      <div>
        <p>+20 1097977924<br />+20 1097977924</p>
      </div>
      <div>
        <p>office@freshprint.eg<br />office@freshprint.eg</p>
      </div>
    </div>
  </footer>
  <div class="float-end">
    <a href="/generatePDF" class="btn btn-success rounded-0">Export As PDF</a>
  </div>
</div>
<script>
  const msg = `{{{msg}}}`
  if (msg) {
    alert(msg)
  }
</script>
{{>footer}}